.contenedor {  
  margin: 0 auto;  
  display: grid;  
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: auto;  
  gap: 10px;  
}  

.caja, .segundacaja {  
  background-color: orange;  
  width: 100%;
  height: 150px;
  border: solid 2px black ;
}  
  
.fila {  
  display: contents; 
}  

  
